html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 153px;
    color: white;
    background: url("../images/homepage_bg.jpg") center center no-repeat;
    background-size: cover;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 153px;
    background-color: rgba(0,0,0,0.9);
    color: #ccc;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    cursor: pointer;
}

#premium-content .footer {
    height: 64px;
}

#premium-content .footer:hover {
    height: 153px;
}

body > .container-fluid {
    padding: 60px 15px 0;
}

body#authenticate > .container-fluid {
    padding: 0 15px;
}

.btn-danger {
    color: #fff;
    background-color: #67AC03 !important;
    border-color: #67AC03 !important;
    margin: 5px 0;
}

.tooltip.top {
    margin-top: 50px !important;
}

.tooltip.top .tooltip-arrow {
    display: none;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #67AC03 !important;
}

.tooltip .tooltip-inner {
    background-color: #67AC03 !important;
}

.container-fluid .text-muted {
    margin: 20px 0;
}

.footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

#homepage-notification {
    position: absolute;
    top:-50px;
    width: 100%;
    text-align: center;
    -moz-animation: cssAnimation 0.5s ease-in 2s forwards;
    -webkit-animation: cssAnimation 0.5s ease-in 2s forwards;
    -o-animation: cssAnimation 0.5s ease-in 2s forwards;
    animation: cssAnimation 0.5s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        top: 20px;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        top: 20px;
    }
}

#homepage-notification span {
    background-color: rgba(100,100,100,0.8);
    padding: 10px 20px;
    color: white;
    position: relative;
    z-index: 9999;
}

#homepage-notification a {
    color: white;
    text-decoration: underline;
}

.navbar-default.navbar {
    background: none;
    border: none;
}

.navbar-default.navbar > div > .btn-group {
    float: right;
    margin-top: 31px;
}

.btn-group a {
    cursor: pointer;
}

.navbar-default .navbar-brand {
    letter-spacing: -6px;
    font-weight: bold;
    padding: 35px 0 0 26px;
    font-size: 54px;
    color: #67AC03 !important;
    margin-left: -15px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #67AC03 !important;
}

.navbar-right {
    padding-top: 30px;
}

.navbar-fixed-top .navbar-collapse {
    border: none;
}

.footer > div > div > div > img {
    height: 80px;
    margin: auto;
    display: block;
}

.container-fluid {
    color: #ccc;
}

#header {
    padding-top: 100px;
    font-size: 38px;
    line-height: 37px;
    color: white;
}

#header > p {
    font-size: 18px;
    font-weight: bold;
    padding-top: 40px;
}

#select-plan {
    color: #333;
}

#select-plan ul {
    margin-top:20px;
    list-style-type: none;
    padding: 0;
}

#select-plan ul li:not(:first-child) {
    border-top: 1px solid #ddd;
}

#select-plan > h3 {
    padding-left: 15px;
    margin-bottom: 0;
}

#select-plan ul li {
    float: left;
    width: 100%;
    padding: 28px 15px 20px 15px;
}

#select-plan ul li:hover {
    background-color: #ddd;
}

#select-plan ul div {
    float: left;
}

#select-plan ul p, #select-plan ul a{
    float: right;
}

#select-plan ul p {
    line-height: 36px;
    margin-right: 15px;
    font-weight: bold;
}

#select-plan ul p {
    line-height: 36px;
    margin-right: 15px;
    font-weight: bold;
}

#darker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: -100;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.3%;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}

#cleeng-tip-holder {
    position: absolute;
    top: 30%;
    width: 250px;
    height: 210px;
    right: 0;
    overflow: hidden;
}

#cleeng-tip {
    position: absolute;
    top:0;
    right: -250px;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    z-index: 2147483648;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#cleeng-tip span {
    position: absolute;
    top: 20px;
    left: 20px;
}

#cleeng-tip.show {
    right: 0;
}

#cleeng-tip h3 {
    color: #67AC03;
}

.modal .modal-header {
    border: none;
}

#arr-logo {
    width: 400px;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .footer {
        position: relative;
        height: auto;
        margin-top: 50px;
    }

    #homepage-notification {
        display: none;
    }

    .navbar-default.navbar-fixed-top
    {
        position: relative;
        top: auto;
    }

    .navbar-header {
        float: left;
    }

    .navbar-header .navbar-brand {
        font-size: 40px;
    }

    .navbar-right {
        padding: 20px 20px 0 0;
        float: right;
    }

    .navbar-right .dropdown-menu {
        right: 0 !important;
        position: absolute !important;
        background-color: #fff !important;
        left: auto !important;
    }
}